@import "tailwindcss";

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    /* Chiều rộng thanh cuộn */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền của track */
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888;
    /* Màu của thanh cuộn */
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Màu khi hover */
}